doctype html
head
  meta(charset='utf-8')
  title #{user.user_name}
  base(href='/')
  link(rel='shortcut icon', type='image/x-icon', href='./assets/icons/favicon.ico')
  meta(property='og:title', content=`${material.title}`)
  meta(property='og:description', content=`${material.description}`)
  meta(property='og:image:width', content='600')
  meta(property='og:image:height', content='300')
  meta(property='og:image', content=`${material.site_image || material.thumbnail || material.preview}`)
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='./theme/css/bootstrap.min.css')
  //- Font Import
  link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap', rel='stylesheet')
  //- Plugin Style Import
  link(href='./theme/plugins/plyr/plyr.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/simple-lightbox/simple-lightbox.min.css')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/pdf/flipbook.style.css')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/pdf/font-awesome.css')
  //- Theme Main Style Import
  link(rel='stylesheet', href='./theme/css/theme3.css')
  //- Widget Styles Import
  link(rel='stylesheet', href='./theme/css/widget.css')
  //- Basic JS lib import
  script(src='./theme/js/jquery.min.js')
  script(src='./theme/js/popper.min.js')
  script(src='./theme/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='./theme/plugins/galleria/galleria.min.js')
section.material-section
  .container.cs-container
    div
      h1.material-title.text-center.mb-1
        | #{material.title}
      p.material-description.text-center
        != material.description
    .row.material-profile-wrapper
      .material-wrapper.mx-2
        if material_type === 'video'
          .video-player-wrapper
            if material.type === 'youtube' || material.type === 'vimeo'
              div#player(data-plyr-provider=`${material.type}` data-plyr-embed-id=`${material.url}`)
            else 
              video#player(poster=`${material.thumbnail}`, controls, name="media")
                source(src=`${material.url}`, type=`video/mp4`)
            .watched-time
              | 00:00
            if material.converted === 'progress'
              div.convertStatus
                div.progressBar.progress
                  div.progress-bar.progress-bar-striped.progress-bar-animated.bg-secondary
        if material_type === 'image'
          .gallery-wrapper
            #galleria
              each url in material.url
                a(href=url)
                  img(src=url)
            #gallery-container.d-none
              each url in material.url
                a(href=url)
                  img(src=url)
        if material_type === 'pdf'
          .pdf-wrapper
            #pdf-container
              img(src=material.preview)
            input#pdfpath(type="hidden" value=material.url)
footer
  .container.cs-container
    .disclaim
      | The statements and opinions contained in this advertisement are solely those of the individual author and do not necessarily reflect the positions or opinions of eXp Realty, LLC, or its subsidiaries or affiliates (the “Company”). The Company does not assume any responsibility for, nor does it warrant the accuracy, completeness or quality of the information provided.
if material_type === 'video'
  input#duration(type='hidden', value=`${material.duration/1000}`)
if material_type === 'image'
  input#total(type='hidden', value=`${material.url.length}`)
input#activity(type='hidden', value=`${activity}`)
input#contact(type='hidden', value=`${contact}`)
input#user(type='hidden', value=`${user._id}`)
input#material(type='hidden', value=`${material._id}`)
input#capture-dialog(type='hidden', value=`${capture_dialog}`)
input#capture-delay(type='hidden', value=`${capture_delay}`)
#leadModal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content.p-4.info-step
      if setting.intro_video
        div.quick-video-wrapper
          video.intro_video(autoplay=true, loop=true, preload="metadata", playsinline=true, muted)
            source(src=setting.intro_video, type="video/mp4")
          button.volume-control
            img(src='./theme/icons/unmute.png')
      .modal-header.border-bottom-0
        h4.modal-title Looking forward to your feedback!
      .modal-body
        form#info-form
          if capture_field['first_name']
            .form-group.custom-form
              label.form-label Name
              input.form-control(type="text", name="first_name", placeholder="John Smith", required=capture_field['first_name'] ? true : false )
          if capture_field['email']
            .form-group.custom-form
              label.form-label Email
              input.form-control(type="email", name="email", placeholder="Johnsmith@gmail.com", required=capture_field['email'] ? true : false)
          if capture_field['cell_phone']
            .form-group.custom-form
              label.form-label Phone
              input.form-control.phone-info(type="tel", name="cell_phone", placeholder="***-***-****", required=capture_field['cell_phone'] ? true : false)
          each field in additional_fields
            if field.status
              .form-group.custom-form
                label.form-label
                  | #{field.name}
                if field.type === 'text'
                  input.form-control(type="text", name=field.name, placeholder=field.placeholder, required=false)
                if field.type === 'dropdown'
                  select.form-control(name=field.name, required=false)
                    option(value="")
                      | Select the #{field.name}
                    for optionItem in field.options
                      option(value=optionItem.value)
                        | #{optionItem.label}
          input(type="hidden", name="user", value=`${user._id}`)
          input(type="hidden", name=material_type, value=`${material._id}`)
          p.privacy-link
            | Please read our 
            a(href='https://crmgrow.com/privacy.html') Privacy Policy
            |  before submitting.
          button.btn.btn-lg.btn-primary.submit-btn(type="submit") Submit
    .modal-content.p-4.thank-content.text-center
      .modal-header.border-bottom-0.pb-0
        h3.modal-title.border-bottom-0.py-0 Thank you! Your info has been processed.
      .modal-body
        p Please check the button to view the site and find out how eXp can help you grow!
      .modal-footer.border-top-0.pt-0
        button.btn.btn-lg.d-block.text-white.w-100#thank-btn View Site
//- Widget JS
script(type='text/javascript', src='./theme/core/widget_v2.js')
//- Video Track JS
if material_type === 'video'
  script(src='theme/plugins/plyr/plyr.min.js')
  script(type='text/javascript', src='./theme/core/lead_video_v2.js')
if material_type === 'image'
  //- Image Track JS
  script(type='text/javascript', src='./theme/core/lead_image_v2.js')
  //- Image Materials Plugin
  script(type='text/javascript', src='./theme/plugins/simple-lightbox/simple-lightbox.js')
  script.
    var lightbox = new SimpleLightbox('#gallery-container a', {
    /* options */
    });
//- PDF Track JS
if material_type === 'pdf'
  script(type='text/javascript', src='./theme/plugins/pdf/flipbook.js')
  script(type='text/javascript', src='./theme/core/lead_pdf_v2.js')